{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %}

{% block page_content %}
<!--
<style>

  .big-boy {
    margin-top: 20px;
    padding: 20px;
    height: auto;
    width: 100%;
  }
  
  .big-boy img {
    transform: translateY(50%);
    height: auto;
    width: 50%;
  }
  
  </style>
  
  <div class="container big-boy full-width">
    <img src="https://static.igem.wiki/teams/5178/headers/attributions-head.png" alt="Attributions Head">
  </div>
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #4</h4>
      <p>Make a useful contribution for future iGEM teams. Use this page to document that contribution.</p>
      <p>If you are making a contribution by adding information to an existing Part or creating a new Part, you must document your contribution on the Part's Main Page on the <a href="https://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria. You can use this page to link to that part and include additional information about your contribution.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
-->
<style>
#protein-viewer {
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  background-color: #fff;
}
</style>
<body>
<div id="protein-viewer"></div>

<!-- Include NGL library from CDN -->
<script src="https://cdn.jsdelivr.net/npm/ngl@2.3.1/dist/ngl.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  // Create NGL Stage object
  var stage = new NGL.Stage("protein-viewer", {
      backgroundColor: 'white',
  });

  // Load PDB file
  stage.loadFile('static\IntMol\AF-P16233-F1-model_v4__2_.pdb').then(function (component) {
      // Add representations
      component.addRepresentation("cartoon", {
          color: "spectrum"
      });
      component.addRepresentation("surface", {
          opacity: 0.3,
          color: "white"
      });

      // Set auto view and enable spin
      component.autoView();
      stage.setSpin(true);
  });
});
</script>
{% endblock %}
