{% extends "layout.html" %}
  
{% block title %}Why BLISS?{% endblock %}
{% block lead %}Bacillus Lipase Integrated Secretion System{% endblock %}

{% block page_content %}


<style>
.fade-in-image { animation: fadeIn 3s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.heartbeat-on-hover:hover {
  animation: heartBeat 0.8s ease-in-out;
}
.dizzy-on-hover:hover{
    animation: dizzy 0.9s ease-in-out;
}
.weak-bones-on-hover:hover{
    animation: tada 0.8s ease-in-out;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
    50% {
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
  100% {
    transform: scale(1);
  }
}
@keyframes dizzy {
   0%
    {
       -webkit-transform:translateX(0);
       transform:translateX(0);
       -webkit-filter:blur(0px);
   }
    6.5%
    {
        -webkit-transform:translateX(-6px) rotateY(-9deg);
        transform:translateX(-6px) rotateY(-9deg);
        -webkit-filter:blur(1px);
    }

    18.5%
    {
        -webkit-transform:translateX(5px) rotateY(7deg);
        transform:translateX(5px) rotateY(7deg);
        -webkit-filter:blur(2px);
    }
    31.5%
        {
        -webkit-transform:translateX(-3px) rotateY(-5deg);
        transform:translateX(-3px) rotateY(-5deg);
        -webkit-filter:blur(3px);
    }
    43.5%
    {
        -webkit-transform:translateX(2px) rotateY(3deg);
        transform:translateX(2px) rotateY(3deg);
        -webkit-filter:blur(1px);
    }
    50%
    {
        -webkit-transform:translateX(0);
        transform:translateX(0);
        -webkit-filter:blur(0px);
        }
}




.flip-card {
    width:270px;height:270px;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
}

.flip-card-back {

  color: white;
  transform: rotateY(180deg);
}

/*.row {*/
/*  display: flex;*/
/*  justify-content: center; !* Center elements horizontally *!*/
/*  align-items: center; !* Center elements vertically (optional) *!*/
/*}*/
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}

 Sidebar Navigation
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

/*ul, ol {*/
/*  list-style: none;*/
/*  margin: 0;*/
/*  padding: 5px;*/
/*}*/
/*li {*/
/*  margin-left: 1rem;*/
/*    margin-bottom: 1rem;*/
/*}*/

h1 {
  font-weight: 300;
}

/** page layout **/

.sticky {
  position: sticky;
  top: 90px;
}
/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
  padding-bottom: 20px;
}

#ProgressBar {
  width: 100%;
  height: 30px;
    border: 1px solid #D88993;
  border-radius: 7px;
  background: #D88993;
  padding: 4px;
}

#Progress {
  width: 80%;
  background-color: #8B555E;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-color: #8B555E;

  animation-name: progressBar;
  animation-iteration-count: 1;
  animation-duration: 2s;
}
#Progress {
  width: 80%;
  background-color: #8B555E;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-color: #8B555E;

  animation-name: progressBar;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes progressBar {
  0% {
    width: 10%;
  }

  100% {
    width: 80%;
  }
}

</style>

<div class="container">
    <div class="row">
    <div class="col-md-2">
        <div class="sticky">
 <nav class="section-nav" style="border-left: 1px solid #efefef;">
      <ul style="list-style: none;
  margin-left: 0px;">
          <div class="margin-left: 1rem; margin-bottom: 1rem;">
        <li style="margin-bottom: 5px"><a href="#abstract">Abstract</a></li>
        <li style="margin-bottom: 5px"><a href="#what-is-EPI">What is EPI?</a></li>
          <ul style="list-style: none;">
            <li style="margin-bottom: 5px"><a href="#symptoms">Symptoms</a></li>
              </ul>
        <li style="margin-bottom: 5px"><a href="#current-solutions">Current Solutions</a></li>
        <li style="margin-bottom: 5px"><a href="#our-solution">Our Solution</a></li>
          <li style="margin-bottom: 5px"><a href="#how-it-works">How it Works</a></li>
          <li style="margin-bottom: 5px"><a href="#vision">Our Future Vision</a></li>
          <li style="margin-bottom: 5px"><a href="#inspiration">Inspiration</a></li>
          <li style="margin-bottom: 5px"><a href="#references">References</a></li>
        </div>
          </ul>
        </nav>
    </div>
        </div>
    <div class="col-md-10">

<section id="what-is-EPI">
    <h2>What is Exocrine Pancreatic Insufficiency?</h2>
    <div class="row">
        <div class="col-md-5">
            <p>This is the text column. You can add your text content here.</p>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col">
                    <div class="fade-in-image">
                        <img src="static/EPI people graphic dark.png" width="200px">
                    </div>
                </div>
                <div class="col">
                    <div id="ProgressBar">
                        <div id="Progress"></div>
                    </div>
                    <p>of individuals with chronic pancreatitis develop EPI</p>
                </div>
                <div class="col">
                    <h3 class="ml-0 mt-0">80%</h3>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container mt-5" style="text-align: center; align-items: center">
<section id="symptoms">
    </section>
<h2>If left untreated, EPI can cause...</h2><br>
    <div class="row">
        <div class="col-sm">
            <div class="heartbeat-on-hover">
                <img src="static/heart.png" width="200px">
            </div>
        </div>
        <div class="col-sm">
            <div class="dizzy-on-hover">
                <img src="static/dizzy.png" width="200px">
            </div>
        </div>
        <div class="col-sm">
            <div class="weak-bones-on-hover">
                <img src="static/bone.png" width="250px">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <h2>Arrhythmia</h2>
        </div>
        <div class="col-sm">
            <h2>Anemia</h2>
        </div>
        <div class="col-sm">
            <h2>Osteoporosis</h2>
        </div>
    </div>
    </section>
    <div class="row mt-5">
<section id="current-solutions">

    <h2>Why are current solutions not enough?</h2>
   <p> description blablablabla</p>
   </section>
    </div>
<div class="row" >
<div class="col-sm">
       <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <img src="static/dedpig.png" width="270px">
    </div>
    <div class="flip-card-back">
      <img src="static/dedpig text.png" width="270px">
    </div>
  </div>
</div>
    </div>

<div class="col-sm">
        <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <img src="static/yuck.png" width="270px">
    </div>
    <div class="flip-card-back">
      <img src="static/yuck text.png" width="270px">
    </div>
  </div>
</div>
    </div>

<div class="col-sm">
        <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
     <img src="static/mask.png" width="270px">
    </div>
    <div class="flip-card-back">
      <img src="static/mask text.png" width="270px">
    </div>
  </div>
</div>
      </div>


</div>

    <section id="our-solution">
    <div class="row mt-5">
    <h2>Our Solution</h2>
        <div class="col-md-8">
   <p> description blablablabla</p>
        </div>
        <div class="col-md-4">
            <img src="static/picture.png" width="200px">
        </div>
    </div>
</section>
    <section id="how-it-works">
    <div class="row mt-5">
    <h2>How it Works </h2>
   <p> description blablablabla</p>
    </div>
</section>
    <section id = "vision">
    <div class="row mt-5">
    <h2>Our Vision for the Future</h2>
   <p> description blablablabla</p>
    </div>
        </section>
    <section id = "inspiration">
        <div class="row mt-5">
    <h2>Our inspiration</h2>
        <p> description blablablabla</p>
        </div>
    </section>
     <section id = "references">
        <div class="row mt-5">
    <h2>References</h2>
        <p> description blablablabla</p>
        </div>
    </section>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
<script>
window.addEventListener('DOMContentLoaded', () => {

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const id = entry.target.getAttribute('id');
      if (entry.intersectionRatio > 0) {
        document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
      } else {
        document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('active');
      }
    });
  });

  // Track all sections that have an `id` applied
  document.querySelectorAll('section[id]').forEach((section) => {
    observer.observe(section);
  });

});
const navbar = document.querySelector('#TOC');
let top = navbar.offsetTop;
function stickynavbar() {
  if (window.scrollY >= top) {
    navbar.classList.add('sticky');
  } else {
    navbar.classList.remove('sticky');
  }
}
window.addEventListener('scroll', stickynavbar);
</script>