{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}Explore this page and watch the videos to gain valuable insights from the experts we've consulted.{% endblock %}

{% block page_content %}
<style>

    .sticky {
        position: sticky;
        top: 90px;
    }

    section {
        padding-top: 90px;
        margin-top: -90px;
        padding-bottom: 20px;
    }

    .section-title {
        text-align: center;
        margin-top: 3rem;
        text-decoration: underline;
        text-decoration-color: #D88993;
        text-underline-offset: 15px;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

.expert-picture {
    width: 16rem; /* Set the width you want for the circular image */
    height: 16rem; /* Set the height you want for the circular image */
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid #8B555E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expert-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



    html {
        scroll-behavior: smooth;
    }

    .section-nav li.active > a {
        color: #8B555E;
        font-weight: 500;
    }

    .section-nav {
        padding-left: 0;
        border-left: 1px solid #D88993;
    }

    .section-nav a {
        text-decoration: none;
        display: block;
        padding: .125rem 0;
        color: #D88993;
        transition: all 400ms ease-in-out;
    }

    .section-nav a:hover,
    .section-nav a:focus {
        color: #8B555E;
    }

    /*@keyframes fadeInUp {*/
    /*    0% {*/
    /*        transform: translateY(100%);*/
    /*        opacity: 0;*/
    /*    }*/
    /*    100% {*/
    /*        transform: translateY(0%);*/
    /*        opacity: 1;*/
    /*    }*/
    /*}*/

    /*.fadeInUp-animation {*/
    /*    animation: 1.5s fadeInUp;*/
    /*}*/

    .paragraph-text {
        text-align: justify;
        align-items: center;
        font-size: 110%;
    }

    .background-color-box {
        padding: 2rem 2rem; /* Increase padding to make the border larger on all sides */
        margin-top: 3rem; /* Space between the image and the caption box */
        border-radius: 2%;
        background-color: rgba(240,223,173,0.25);
    }

    .name-title {
        color: #9b666f;
        text-align: center;
    }

    .margin-left {
        margin-left: 1%;
    }

    .margin-top {
        margin-top: 5%;
    }

    .question-box {
        text-align: center;
        margin-top: 3%;
    }
    .quote-box{
        display: flex;
  justify-content: center;
  align-items: center;
    }
    .name-credentials
    {
         display: flex;
  flex-direction: column;

    }
/*    .vertical-container {*/
/*        position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(50%);*/
/*}*/

</style>
<head></head>
<html>
<body>
<div class="container">
    <div class="row">
<!--        nav bar-->
        <div class="col-md-2">
            <div class="sticky">
                <br>
                <nav class="section-nav" role="navigation">
                    <ul style="list-style: none; margin-left: 0px;">
                        <div class="margin-left: 1rem; margin-bottom: 1rem;">
                            <li style="margin-bottom: 5px"><a href="#medical-professionals">Medical Professionals</a>
                            </li>
                            <li style="margin-bottom: 5px"><a href="#synthetic-biologists">Synthetic Biologists</a></li>
                            <li style="margin-bottom: 5px"><a href="#homeschooling-experts">Homeschooling Experts</a></li>
                            <li style="margin-bottom: 5px"><a href="#ethics-expert">Ethics Expert</a></li>
                            <li style="margin-bottom: 5px"><a href="#modeling-experts">Modeling Experts</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
<!--        content starts here-->
        <div class="col-md-10 paragraph-text">
<!--            intro-->
            <div class="dropshadow-box">

                <h2 class="section-title">Expert Feedback</h2>
                <p>It is essential to consult with experts to gain their perspective and feedback. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.</p>
            </div>
<!--medical professionals box-->
            <div class="dropshadow-box mt-5">
                <section id="medical-professionals">
                    <h2 class="mb-2 section-title">Medical Professionals</h2>
                    <!-- Dr. Wadlow content-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">How does EPI complicate daily living for pancreatic cancer
                                patients? </h4>
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="expert-picture">
                                        <img style="object-position: center 5%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/wadlow-ray-5166-pp-2-3-1.jpg" alt="Expert Picture">
                                    </div>
                                </div>
                                <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Raymond Wadlow, MD</h3>
                                    <p><i>Credentials:</i> Dr. Wadlow is an Inova
                                        board-certified doctor in Medical Oncology and Internal Medicine. His clinical
                                        interests include Gastrointestinal (GI) Cancer, Pancreatic Cancer, Colorectal
                                        Cancer, Esophageal Cancer, and Liver Cancer. Dr. Wadlow helps run the PRECEDE
                                        study at Inova, which is a clinical trial that tries to improve early detection
                                        of pancreatic cancer for those with elevated risk, since it’s hard to diagnose
                                        early on.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p>Two-thirds of pancreatic tumors are in the pancreas's head and
                                body, where surgery often leads to EPI which worsens malnutrition in cancer patients.
                                Dr. Wadlow also expressed concerns about the current medication's affordability, side
                                effects, and limited effectiveness. Using his feedback, we aimed to develop
                                computational models to ensure our treatment delivered the required dosages within a
                                desired timescale. Additionally, noting that chemotherapy patients should avoid
                                probiotics due to infection risks, we plan to develop a cell-free treatment as a future
                                iteration of our project.</p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid" alt="A quote from Dr. Wadlow reading, 'if [patients on chemotherapy] have uncontrolled exocrine insufficiency resulting in steatorrhea, it's further compromising their ability to maintain adequate nutritional stores and deal with the toxicities of chemotherapy.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">

                                <iframe title="Virginia: Dr. Wadlow Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/80f5ebc9-0c7d-4ffd-bb78-804809d02cf4" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Dr. Froh, Dr. Lonabaugh, and Ms. Wilburn content-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">How does EPI complicate daily living for cystic fibrosis patients?</h4>
                        </div>
                        <!-- Picture and credentials for Dr. Froh -->
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="expert-picture">
                                        <img style="object-position: left 5%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/dr-froh-pic.png" alt="Expert Picture">
                                    </div>
                                </div>
<!--                                change the margin of this column to change spacing of words-->
                                <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Deborah Froh, MD</h3>
                                    <p><i>Credentials:</i> Dr. Froh is a
                                        board-certified doctor in Pediatric Medicine and Pediatric Pulmonology at the
                                        University of Virginia (UVA). She specializes in cystic fibrosis and other
                                        respiratory issues in children. She is the director of the UVA Cystic Fibrosis
                                        Center and leader of its clinical trials program, and serves as the Cystic
                                        Fibrosis Foundation’s state representative for newborn screening for cystic
                                        fibrosis.</p>
                                </div>
                            </div>
<!--                        Picture and credentials for Dr. Lonabaugh-->
                        <div class="row d-flex align-items-center">
                            <div class="col-md-8 flex-column">
                                <h3 class="name-title">Dr. Kevin Lonabaugh, PharmD, BCACP, BCPPS, AE-C</h3>
                                <p class="text-center"><i>Credentials:</i> Dr. Lonabaugh is an Ambulatory Clinical
                                    Pharmacist in the Pediatric and Adult Cystic Fibrosis Center at the University of
                                    Virginia (UVA). He is dual board-certified in pediatrics and ambulatory care.</p>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/klonabaugh-headshot-9-2023.png"
                                         alt="Headshot of Kasey Lonabaugh">
                                </div>
                            </div>
                        </div>

<!--                        Picture and credentials for Ms. Wilburn-->
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/screenshot-2024-07-24-at-4-16-12-pm.png" alt="Headshot of Kasey Wilburn">
                                </div>
                            </div>
                            <div class="col-md-8 flex-column">
                                <h3 class="name-title text-center">Kasey Wilburn, RD</h3>
                                <p><i>Credentials:</i> Ms. Wilburn is a Registered
                                    Dietitian at the University of Virginia (UVA) who specializes in genetic and
                                    metabolic disorders, including adult cystic fibrosis. </p>
                            </div>
                        </div>
<!--                        Video and quote-->

                        <div class="row margin-top">
                            <p>We learned that nearly all cystic fibrosis patients suffer from
                                EPI, leading to early prescriptions of PERT medications to prevent malnutrition and lung
                                weakness. Current PERT medication is burdensome, requiring up to 30 capsules daily.
                                Thus, our solution should aim to minimize pill burden on patients, potentially through
                                implementation of a switch/inducible mechanism. Additionally, it is crucial to ensure
                                that our enzymes are protected from degradation in the stomach, similar to the
                                protective coating on PERT capsules. Lastly, we aim to develop a dairy-free yogurt, as
                                they highlighted our oversight that yogurt is not always vegan. </p>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <iframe title="Virginia: Dr. Froh Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/eb19e084-a929-499d-9531-798bfdb7778a?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
                    <!--                    9 dietitians-->
                    <div class="background-color-box">
                        <div class="row">
<h4 class="question-box">How can dietitians' insights inform EPI treatment considerations and our project design?</h4>
</div>
                        <div class="row margin-top">

    <!-- First Row -->
    <div class="row">
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/barber-amanda.jpg" alt="Headshot of Amanda Barber" style="object-position: center 5%;">
                </div><h3 class="name-title">Amanda Barber, MS, RD, CNSC</h3>

        </div>
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/benda-caitlin.jpg" alt="Headshot of Caitlin Benda"style="object-position: center 5%;">
              </div>  <h3 class="name-title">Caitlin Benda, MBA, MS, RD, CSO</h3>

        </div>
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/collins-emily.jpg" alt="Headshot of Emily Collins"style="object-position: center 5%;">
              </div>  <h3 class="name-title">Emily Collins, MS, RD, CSO, CNSC</h3>

        </div>
    </div>

    <!-- Second Row -->
    <div class="row margin-top">
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/coulter-kelsey.jpg" alt="Headshot of Kelsey Coulter"style="object-position: center 5%;">
              </div>  <h3 class="name-title">Kelsey Coulter, RD, CSO</h3>

        </div>
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/desai-carrie.jpg" alt="Headshot of Carrie Desai"style="object-position: center 5%;">
               </div> <h3 class="name-title">Carrie Desai, MS, RD, CSO</h3>

        </div>
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/fay-lauren.jpg" alt="Headshot of Lauren Fay"style="object-position: center 5%;">
               </div> <h3 class="name-title">Lauren Fay, MPH, RD-AP, CSO, CNSC</h3>

        </div>
          </div>
                         <!-- Third Row -->
                        <div class="row margin-top">

        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/irvin-marion.jpg" alt="Headshot of Marion Irvin"style="object-position: center 5%;">
                </div>
                <h3 class="name-title">Marion Irvin, RD, CSO, LD, CNSC</h3>

        </div>
        <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/negron-sara.png" alt="Headshot of Sara Negron"style="object-position: center 5%;">
                 </div>
            <h3 class="name-title">Sara Negron, MS, RD, CSO</h3>

        </div>
                            <div class="col">
            <div class="expert-picture">
                <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/seys-molly.jpg" alt="Headshot of Molly Seys"style="object-position: center 5%;">
              </div>  <h3 class="name-title">Molly Seys, RD, CSO, CNSC</h3>

        </div>
                            </div>
                            </div>




                        <div class="row margin-top">
                            <p><i>Credentials:</i> Emily Collins, Lauren Fay, Amanda Barber, Molly Seys, Sara Negron, Marion
                                Irvin, Caitlin Benda, Kelsey Coulter, and Carrie Desai are all registered dietitians who
                                are board-certified in oncology nutrition or nutrition support at Inova Schar Cancer
                                Institute.</p>
                            <p>Dietitians have more hands-on involvement in EPI treatment than other
                                medical professionals. The dietitians emphasized the importance of probiotic variety in
                                diets, and thus encouraged us to consider a yogurt formulation that contains many types
                                of probiotic bacteria. Additionally, they informed us that an enteric coating for our
                                bacteria is not necessary as our bacteria will continuously produce enzymes and will be
                                stable in the digestive tract. Most importantly, as dietitians have active involvement
                                in EPI patientcare, they highlighted the importance of our device and indicated that
                                they had many patients who are uncomfortable with current porcine-derived enzymes.</p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <img src="https://static.igem.wiki/teams/5178/ihp/screenshot-2024-07-23-at-1-38-27-pm.png"
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                    </div>
<!--                    end dietitians-->
<!--                    Dr Ali-->
                     <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">What is important to consider when developing a medication for EPI patients? </h4>
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center" style="display: flex; align-items: center;">
                                    <div class="expert-picture">
                                        <img style="object-position: center 5%;" src="picture.png" alt="Headshot of Dr. Ali">
                                    </div>
                                </div>
                                <div class="col-md-8 flex-column" style="display: flex; align-items: center;">
                                    <h3 class="name-title text-center">Dr. Shahid Ali, MD</h3>
                                    <p><i>Credentials:</i> Dr. Ali is a board-certified doctor in
                                        internal medicine and gastroenterology and currently works as a
                                        gastroenterologist at Memorial Herman hospital in Houston, Texas. He has
                                        clinical interests relevant to our project in general gastroenterology including
                                        diagnosis and treatment of digestive disorders. </p>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p>We learned that naturally-occurring probiotics in fermented foods are preferred over
                                capsules/supplements. Thus, we seek to identify a yogurt formulation with B. subtilis as
                                a starter. Additionally, Dr. Ali stated that a flexible dosage (possible with our
                                solution design) is favorable, as treatment is tailored to individual symptoms and
                                severity. It is thus crucial for us to determine, experimentally and computationally,
                                the amount of enzyme produced per volume of yogurt. He also assured us that
                                hyperlipasemia is rare, so slightly increased lipase production by our bacteria should
                                not pose health risks. </p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid" alt="A quote from Dr. Wadlow reading, 'if [patients on chemotherapy] have uncontrolled exocrine insufficiency resulting in steatorrhea, it's further compromising their ability to maintain adequate nutritional stores and deal with the toxicities of chemotherapy.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">

                                <iframe title="Virginia: Dr. Wadlow Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/80f5ebc9-0c7d-4ffd-bb78-804809d02cf4" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
<!--                    end Dr. Ali-->
<!--                    Dr Strand-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">What is important to consider when developing a medication for EPI patients? </h4>
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="expert-picture">
                                        <img style="object-position: center 5%;" src="picture.png" alt="Headshot of Dr. Strand">
                                    </div>
                                </div>
                                <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Strand, MD</h3>
                                    <p><i>Credentials:</i> Dr. Strand is a board-certified
                                        gastroenterologist and director of pancreatobiliary endoscopy at the University
                                        of Virginia. He serves as the director of the UVA National Pancreas Foundation
                                        (NPF) Chapter, and he has clinical interests relevant to our project in acute
                                        and chronic pancreatitis and pancreatic cancer. </p>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p>We learned that current medications are inaccessible to Dr. Strand’s patients due to high
                                cost, as well as religious and ethical barriers. Additionally, patients with Alpha-Gal
                                Syndrome may also react to this treatment. Dr. Strand affirmed that over-the-counter
                                non-FDA approved alternatives to PERTS are ineffective and essentially “heated organ
                                meat.” We determined that our target yield for one cup of yogurt is roughly
                                70,000-80,000 units of lipase, as this is the average amount required per meal. Lastly,
                                Dr. Strand reiterated Dr. Ali's findings that hyperlipasemia is extremely rare,
                                indicating that our goal to maximize lipase production poses minimal risk to
                                patients. </p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid" alt="A quote from Dr. Wadlow reading, 'if [patients on chemotherapy] have uncontrolled exocrine insufficiency resulting in steatorrhea, it's further compromising their ability to maintain adequate nutritional stores and deal with the toxicities of chemotherapy.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">

                                <iframe title="Virginia: Dr. Wadlow Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/80f5ebc9-0c7d-4ffd-bb78-804809d02cf4" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="dropshadow-box mt-5">
                <section id="synthetic-biologists">
                    <h2 class="mb-2 section-title">Synthetic Biologists</h2>
                    <div class="background-color-box" style="background-color: rgba(194, 145, 152, 0.25);">
                        <div class="row">
                            <h4 class="question-box">Are there any flaws in our current design in terms of efficacy and safety and what changes would be necessary for clinical implementation?</h4>
                            <div class="d-flex align-items-center margin-top">
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img style="object-position: center 20%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/nnair01.jpeg" alt="Headshot of Dr. Nikhil Nair">
                                </div>
                            </div>
                            <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Nikhil Nair, PhD</h3>
                                    <p><i>Credentials:</i> Dr. Nair is an Associate Professor of Chemical and Biological
                                        Engineering at Tufts University with interests in synthetic biology and systems
                                        bioengineering. He has experience teaching classes and conducting research in
                                        these areas, previously having engineered probiotics for therapeutic purposes.
                                        Additionally, Dr. Nair served as a past iGEM advisor for Tufts University. </p>

                            </div>
                        </div>
                        </div>

          <div class="row margin-top">
                            <p><i>What we learned:</i> Two-thirds of pancreatic tumors are in the pancreas's head and
                                body, where surgery often leads to EPI which worsens malnutrition in cancer patients.
                                Dr. Wadlow also expressed concerns about the current medication's affordability, side
                                effects, and limited effectiveness. Using his feedback, we aimed to develop
                                computational models to ensure our treatment delivered the required dosages within a
                                desired timescale. Additionally, noting that chemotherapy patients should avoid
                                probiotics due to infection risks, we plan to develop a cell-free treatment as a future
                                iteration of our project. </p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-nair-quote.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <iframe title="Virginia: Dr. Nair Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/c7aaa2ad-4af3-4db7-af7b-8bd3ec218dc8?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <!--homeschooling-->
            <div class="dropshadow-box mt-5">
                <section id="homeschooling-experts">
                    <h2 class="mb-2 section-title">Homeschooling Experts</h2>
<!--                    Mrs. Nicholson content-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">Is there a lack of science resources in the homeschool community and how can we best develop a resource for this demographic?</h4>
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="expert-picture">
                                        <img style="object-position: center 5%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/eleanornicholson.png" alt="headshot of Mrs. Nicholson">
                                    </div>
                                </div>
                                <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Eleanor Nicholson, MA</h3>
                                    <p><i>Credentials:</i> Mrs. Nicholson has a Master of Arts from UVA
                                        in English. She is a homeschooling mother of 5, an award-winning novelist, and a
                                        Catholic literary scholar. Mrs. Nicholson also teaches high school literature
                                        for a company called Homeschool Connections. </p>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p><i>What we learned:</i> Homeschooling is increasingly popular due to its in-depth, student-driven education.
                                However, there are few synthetic biology resources for homeschool educators.
                                Furthermore, the biggest barriers to teaching science at home are the cost and quality
                                of at-home experiments, which often aren’t rigorous enough. Therefore, a free, online
                                synthetic biology handbook featuring practical experiments with common household
                                supplies would be useful to the homeschool community. Additionally, based on Mrs.
                                Nicholson’s feedback, we’ve added post-labs to evaluate learning and a teaching guide
                                with a deeper dive into synthetic biology. We also decided to conduct a survey with
                                homeschool educators, students, and parents for further feedback and suggestions for
                                improvement.</p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/mrs-nicholson-quote.png"
                                     class="img-fluid" alt="A quote from Mrs. Nicholson reading, 'If you take [...] something as specific as synthetic biology and really teach them - not only feed their interest but teach them how to go deep into a subject - they get really excited and then the subject becomes student driven which is amazing, which is always our goal.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">

                                <iframe title="Virginia: Mrs. Nicholson Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/7d4143d4-1fa4-4398-bd3c-f6e00fe92f22?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
<!--                    Mrs. Kasturi content-->
                      <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">How can we improve our handbook and make it more accessible for homeschool education? </h4>
                            <div class="row d-flex align-items-center margin-top">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <div class="expert-picture">
                                        <img style="object-position: center 5%;" src="picture.png" alt="headshot of Mrs. Nicholson">
                                    </div>
                                </div>
                                <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Sudhita Kasturi</h3>
                                    <p><i>Credentials:</i>  </p>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p><i>What we learned:</i> Homeschooling is increasingly popular due to its in-depth, student-driven education.
                                However, there are few synthetic biology resources for homeschool educators.
                                Furthermore, the biggest barriers to teaching science at home are the cost and quality
                                of at-home experiments, which often aren’t rigorous enough. Therefore, a free, online
                                synthetic biology handbook featuring practical experiments with common household
                                supplies would be useful to the homeschool community. Additionally, based on Mrs.
                                Nicholson’s feedback, we’ve added post-labs to evaluate learning and a teaching guide
                                with a deeper dive into synthetic biology. We also decided to conduct a survey with
                                homeschool educators, students, and parents for further feedback and suggestions for
                                improvement.</p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/mrs-nicholson-quote.png"
                                     class="img-fluid" alt="A quote from Mrs. Nicholson reading, 'If you take [...] something as specific as synthetic biology and really teach them - not only feed their interest but teach them how to go deep into a subject - they get really excited and then the subject becomes student driven which is amazing, which is always our goal.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">

                                <iframe title="Virginia: Mrs. Nicholson Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/7d4143d4-1fa4-4398-bd3c-f6e00fe92f22?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
<!--ethics-->
            <div class="dropshadow-box mt-5">
                <section id="ethics-expert">
                    <h2 class="mb-2 section-title">Ethics Expert</h2>
                     <div class="background-color-box" style="background-color: rgba(194, 145, 152, 0.25);">
                        <div class="row">
                            <h4 class="question-box">Are there any flaws in our current design in terms of efficacy and safety and what changes would be necessary for clinical implementation?</h4>
                            <div class="row d-flex align-items-center margin-top">
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img style="object-position: center 20%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/dr-barnes-picture.jpeg" alt="Headshot of Dr. Elizabeth Barnes">
                                </div>
                            </div>
                            <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Elizabeth Barnes, PhD </h3>
                                        <p><i>Credentials:</i> Dr. Barnes is a professor and
                                        director of diversity, equity, and inclusion at the University of Virginia with
                                        a PhD in philosophy. She teaches philosophy of health and healthcare, current
                                        issues in healthcare ethics, and health and well-being courses at UVA. She also
                                        works on metaphysics, social philosophy, and feminist philosophy. </p>
                            </div>
                        </div>
                        </div>

          <div class="row margin-top">
              <p>We learned that the best way to create an ethical device is to recognize and minimize unintended
                  harmful effects. We are addressing this by having a kill switch mechanism that kills the bacteria if
                  it were to leave the body. Additionally, we are ensuring safe dosages through modeling and
                  experimentation. We learned that there may be objections to ingesting engineered or synthetic bacteria
                  as a treatment but since our medicine increases the options for treatment of EPI, our project
                  increases patient autonomy. Lastly, to increase inclusivity and options for patients, having
                  dairy-free or allergen free yogurt is our goal.</p>
          </div>
                         <div class="row margin-top">
                            <div class="col-md-5 quote-box">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-barnes-quote.png" class="img-fluid" alt="A quote from Dr. Barnes reading 'If there was an alternative out there, you would allow people to sidestep that dilemma. That increases their autonomy because the more range of options we have, the more choices we have, the more we’re able to exercise our power of choice.' ">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <iframe title="Virginia: Dr. Barnes Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/77529128-61c9-473e-98f2-dfc1991f6dfa?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>                            </div>
                        </div>
                    </div>

                </section>
            </div>
<!--Modeling-->
                  <div class="dropshadow-box mt-5">
                <section id="modeling-experts">
                    <h2 class="mb-2 section-title">Modeling Experts</h2>
<!--                    Dr. Nelson-->
                     <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">Modeling question 1</h4>
                            <div class="row d-flex align-items-center margin-top">
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img style="object-position: center 20%;" src="picture 1" alt="Headshot of Dr. Anders Nelson">
                                </div>
                            </div>
                            <div class="col-md-8 flex-column">
                                    <h3 class="name-title text-center">Dr. Anders Nelson, PhD </h3>
                                    <p><i>Credentials:</i> Dr. Nelson is a Computational Biologist at
                                    AstraZeneca who received his doctorate in pharmacology from the UVA School of
                                    Medicine. He was on the Virginia iGEM team in 2016 where he spearheaded public
                                    education and outreach. </p>
                            </div>
<!--                                -->
                                <div class="col-md-8 flex-column">
                                <h3 class="name-title text-center">Austin Rivera, Master's Student</h3>
                                    <p><i>Credentials:</i> Austin Rivera is Senior Specialist in
                                        Data Strategy & Innovation at Merck; he is also a current master’s student in
                                        Data Science at UVA. He received his master's degree in management from the
                                        Stephen M. Ross School of Business at the University of Michigan. A member of
                                        the 2016 Virginia iGEM team, he was involved in wetlab research and created
                                        educational synthetic biology videos. </p>
                                </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="expert-picture">
                                    <img src=""
                                         alt="Headshot of Austin Rivera">
                                </div>
                            </div>
                        </div>

                        </div>

          <div class="row margin-top">
              <p>We learned that the best way to create an ethical device is to recognize and minimize unintended
                  harmful effects. We are addressing this by having a kill switch mechanism that kills the bacteria if
                  it were to leave the body. Additionally, we are ensuring safe dosages through modeling and
                  experimentation. We learned that there may be objections to ingesting engineered or synthetic bacteria
                  as a treatment but since our medicine increases the options for treatment of EPI, our project
                  increases patient autonomy. Lastly, to increase inclusivity and options for patients, having
                  dairy-free or allergen free yogurt is our goal.</p>
          </div>
                         <div class="row margin-top">
                             <div class="quote-box">
                            <div class="col-md-5">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-barnes-quote.png" class="img-fluid" alt="A quote from Dr. Barnes reading 'If there was an alternative out there, you would allow people to sidestep that dilemma. That increases their autonomy because the more range of options we have, the more choices we have, the more we’re able to exercise our power of choice.' ">
                            </div>
                            <div class="col-md-7">
                                <iframe title="Virginia: Dr. Barnes Interview Clip (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/77529128-61c9-473e-98f2-dfc1991f6dfa?warningTitle=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>                            </div>
                        </div>
                             </div>
                    </div>

                </section>
            </div>

        </div>
    </div>
</div>


</body>
</html>

{% endblock %}
