{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}Explore this page and watch the videos to gain valuable insights from the experts we've consulted.{% endblock %}

{% block page_content %}
<style>
    .dropshadow-box {
        padding: 2rem;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 5px rgba(234, 220, 220, 0.76);
    }

    .sticky {
        position: sticky;
        top: 90px;
    }

    section {
        padding-top: 90px;
        margin-top: -90px;
        padding-bottom: 20px;
    }

    .section-title {
        text-align: center;
        margin-top: 3rem;
        text-decoration: underline;
        text-decoration-color: #D88993;
        text-underline-offset: 15px;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .expert-picture {
        width: 16rem;
        height: 16rem;/* Set the width you want for the circular image */ /* Set the height you want for the circular image */
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        border: 0.3rem solid #8B555E;

    }

    .expert-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        /* This centers the image within the container */
    }

    html {
        scroll-behavior: smooth;
    }

    .section-nav li.active > a {
        color: #8B555E;
        font-weight: 500;
    }

    .section-nav {
        padding-left: 0;
        border-left: 1px solid #D88993;
    }

    .section-nav a {
        text-decoration: none;
        display: block;
        padding: .125rem 0;
        color: #D88993;
        transition: all 400ms ease-in-out;
    }

    .section-nav a:hover,
    .section-nav a:focus {
        color: #8B555E;
    }

    @keyframes fadeInUp {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .fadeInUp-animation {
        animation: 1.5s fadeInUp;
    }

    .paragraph-text {
        text-align: justify;
        align-items: center;
        font-size: 110%;
    }

    .background-color-box {
        padding: 2rem 2rem; /* Increase padding to make the border larger on all sides */
        margin-top: 3rem; /* Space between the image and the caption box */
        border-radius: 2%;
        background-color: rgba(240,223,173,0.25);
    }

    .name-title {
        color: #9b666f;
        text-align: center;
    }

    .margin-left {
        margin-left: 1%;
    }

    .margin-top {
        margin-top: 5%;
    }

    .question-box {
        text-align: center;
        margin-top: 3%;
    }
/*    .vertical-container {*/
/*        position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(50%);*/
/*}*/
    .image-container {
    text-align: center; /* Center text under images */
}
</style>
<head></head>
<html>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="sticky">
                <br>
                <nav class="section-nav" role="navigation">
                    <ul style="list-style: none; margin-left: 0px;">
                        <div class="margin-left: 1rem; margin-bottom: 1rem;">
                            <li style="margin-bottom: 5px"><a href="#medical-professionals">Medical Professionals</a>
                            </li>
                            <li style="margin-bottom: 5px"><a href="#synthetic-biologists">Synthetic Biologists</a></li>
                            <li style="margin-bottom: 5px"><a href="#ethics-expert">Ethics Expert</a></li>
                            <li style="margin-bottom: 5px"><a href="#homeschooling-expert">Homeschooling Expert</a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-10 paragraph-text">
            <div class="dropshadow-box">

                <h2 class="section-title">Expert Feedback</h2>
                <p>It is essential to consult with experts to gain their perspective and feedback. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.</p>
            </div>

            <div class="dropshadow-box mt-5">
                <section id="medical-professionals">
                    <h2 class="mb-2 section-title">Medical Professionals</h2>
                    <!-- Dr. Wadlow content-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">How does EPI complicate daily living for pancreatic cancer
                                patients? </h4>
                            <div class="row margin-top">
                                <div class="col-md-4 text-center">
                                    <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                        <img style="object-position: center 5%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/wadlow-ray-5166-pp-2-3-1.jpg" alt="Expert Picture">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row"><h3 class="mt-2 name-title">Dr. Raymond Wadlow, MD</h3></div>
                                    <div class="row"><p><i>Credentials:</i> Dr. Wadlow is an Inova
                                        board-certified doctor in Medical Oncology and Internal Medicine. His clinical
                                        interests include Gastrointestinal (GI) Cancer, Pancreatic Cancer, Colorectal
                                        Cancer, Esophageal Cancer, and Liver Cancer. Dr. Wadlow helps run the PRECEDE
                                        study at Inova, which is a clinical trial that tries to improve early detection
                                        of pancreatic cancer for those with elevated risk, since it’s hard to diagnose
                                        early on.</p></div>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top">
                            <p><i>What we learned:</i> Two-thirds of pancreatic tumors are in the pancreas's head and
                                body, where surgery often leads to EPI which worsens malnutrition in cancer patients.
                                Dr. Wadlow also expressed concerns about the current medication's affordability, side
                                effects, and limited effectiveness. Using his feedback, we aimed to develop
                                computational models to ensure our treatment delivered the required dosages within a
                                desired timescale. Additionally, noting that chemotherapy patients should avoid
                                probiotics due to infection risks, we plan to develop a cell-free treatment as a future
                                iteration of our project. </p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <img src="https://static.igem.wiki/teams/5178/ihp/screenshot-2024-07-23-at-1-38-27-pm.png"
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                    </div>
                    <!-- Dr. Froh, Dr. Lonabaugh, and Ms. Wilburn content-->
                    <div class="background-color-box">
                        <div class="row">
                            <h4 class="question-box">How does EPI complicate daily living for cystic fibrosis patients?</h4>
                        </div>
                        <!-- Picture and credentials for Dr. Froh -->
                            <div class="row margin-top">
                                <div class="col-md-4 text-center">
                                    <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                        <img style="object-position: center 5%;"src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/dr-froh.jpg" alt="Expert Picture">
                                    </div>
                                </div>
<!--                                change the margin of this column to change spacing of words-->
                                <div class="col-md-8 mt-2">
                                    <div class="row"><h3 class="mt-2" style="color: #8B555E; text-align: center">Dr. Deborah Froh, MD</h3></div>
                                    <div class="row margin-left"><p><i>Credentials:</i> Dr. Froh is a
                                        board-certified doctor in Pediatric Medicine and Pediatric Pulmonology at the
                                        University of Virginia (UVA). She specializes in cystic fibrosis and other
                                        respiratory issues in children. She is the director of the UVA Cystic Fibrosis
                                        Center and leader of its clinical trials program, and serves as the Cystic
                                        Fibrosis Foundation’s state representative for newborn screening for cystic
                                        fibrosis.</p></div>
                                </div>
                            </div>
<!--                        Picture and credentials for Dr. Lonabaugh-->
                        <div class="row"style="margin-top: 2%">
                            <div class="col-md-8 mt-5">
                                <div class="row"><h3 class="mt-2" style="color: #8B555E; text-align: center">Dr. Kevin Lonabaugh, PharmD, BCACP, BCPPS, AE-C</h3></div>
                                <div class="row"><p><i>Credentials:</i> Dr. Lonabaugh
                                        is an Ambulatory Clinical Pharmacist in the Pediatric and Adult Cystic Fibrosis
                                        Center at the University of Virginia (UVA). He is dual board-certified in
                                        pediatrics and ambulatory care. </p></div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                    <img style="object-position: center 5%;"src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/klonabaugh-headshot-9-2023.png" alt="Expert Picture">
                                </div>
                            </div>
                        </div>
<!--                        Picture and credentials for Ms. Wilburn-->
                        <div class="row" style="margin-top: 2%">
                            <div class="col-md-4 text-center">
                                <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                    <img style="object-position: center 5%;"src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/kaseywilburn.jpg" alt="Expert Picture">
                                </div>
                            </div>
                            <div class="col-md-8 mt-5">
                                <div class="row"><h3 class="mt-2" style="color: #8B555E; text-align: center">Kasey Wilburn, RD</h3></div>
                                <div class="row margin-left"><p><i>Credentials:</i> Ms. Wilburn is a Registered
                                    Dietitian at the University of Virginia (UVA) who specializes in genetic and
                                    metabolic disorders, including adult cystic fibrosis. </p></div>
                            </div>
                        </div>
<!--                        Video and quote-->

                        <div class="row margin-top">
                            <p><i>What we learned:</i> Two-thirds of pancreatic tumors are in the pancreas's head and
                                body, where surgery often leads to EPI which worsens malnutrition in cancer patients.
                                Dr. Wadlow also expressed concerns about the current medication's affordability, side
                                effects, and limited effectiveness. Using his feedback, we aimed to develop
                                computational models to ensure our treatment delivered the required dosages within a
                                desired timescale. Additionally, noting that chemotherapy patients should avoid
                                probiotics due to infection risks, we plan to develop a cell-free treatment as a future
                                iteration of our project. </p>
                        </div>
                        <div class="row margin-top">
                            <div class="col-md-5">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <img src="https://static.igem.wiki/teams/5178/ihp/screenshot-2024-07-23-at-1-38-27-pm.png"
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                    </div>
                    <!--                    9 dietitians-->
                    <div class="background-color-box">
                        <div class="row">
<h4 class="question-box">How can dietitians' insights inform EPI treatment considerations and our project design?</h4>
</div>
                        <div class="row margin-top">

    <!-- First Row -->
    <div class="row">
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 1" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 2" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 3" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="row margin-top">
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 4" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 5" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 6" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
          </div>
                         <!-- Third Row -->
                        <div class="row margin-top">
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 7" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 8" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
        <div class="col">
            <div class="image-container">
                <img src="placeholder.png" alt="Image 9" class="expert-picture">
                <h3 class="name-title">Firstname Lastname, CR, CR, CR</h3>
            </div>
        </div>
                            </div>
                            </div>




                        <div class="row margin-top">
                            <p><i>Credentials:</i> Emily Collins, Lauren Fay, Amanda Barber, Molly Seys, Sara Negron, Marion
                                Irvin, Caitlin Benda, Kelsey Coulter, and Carrie Desai are all registered dietitians who
                                are board-certified in oncology nutrition or nutrition support at Inova Schar Cancer
                                Institute.</p>
                            <p><i>What we learned:</i> dietitians have more hands-on involvement in EPI treatment than other
                                medical professionals. The dietitians emphasized the importance of probiotic variety in
                                diets, and thus encouraged us to consider a yogurt formulation that contains many types
                                of probiotic bacteria. Additionally, they informed us that an enteric coating for our
                                bacteria is not necessary as our bacteria will continuously produce enzymes and will be
                                stable in the digestive tract. Most importantly, as dietitians have active involvement
                                in EPI patientcare, they highlighted the importance of our device and indicated that
                                they had many patients who are uncomfortable with current porcine-derived enzymes.</p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <img src="https://static.igem.wiki/teams/5178/ihp/screenshot-2024-07-23-at-1-38-27-pm.png"
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                    </div>
<!--                    end dietitians-->
                </section>
            </div>
            <div class="dropshadow-box mt-5">
                <section id="synthetic-biologists">
                    <h2 class="mb-2 section-title">Synthetic Biologists</h2>
                    <div class="background-color-box" style="background-color: rgba(194, 145, 152, 0.25);">
                        <div class="row">
                            <h4 class="question-box">Are there any flaws in our current design in terms of efficacy and safety and what changes would be necessary for clinical implementation?</h4>
                            <div class="row margin-top">
                            <div class="col-md-4 text-center">
                                <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                    <img style="object-position: center 20%;" src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/nnair01.jpeg" alt="Headshot of Dr. Nikhil Nair">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="margin-left">
                                    <h3 class="mt-2 name-title">Dr. Nikhil Nair, PhD</h3>
                                    <div class="row margin-left"><p><i>Credentials:</i> Dr. Nair is an Associate Professor of Chemical and Biological
                                        Engineering at Tufts University with interests in synthetic biology and systems
                                        bioengineering. He has experience teaching classes and conducting research in
                                        these areas, previously having engineered probiotics for therapeutic purposes.
                                        Additionally, Dr. Nair served as a past iGEM advisor for Tufts University. </p></div>
                                </div>
                            </div>
                        </div>
                        </div>

          <div class="row margin-top">
                            <p><i>What we learned:</i> Two-thirds of pancreatic tumors are in the pancreas's head and
                                body, where surgery often leads to EPI which worsens malnutrition in cancer patients.
                                Dr. Wadlow also expressed concerns about the current medication's affordability, side
                                effects, and limited effectiveness. Using his feedback, we aimed to develop
                                computational models to ensure our treatment delivered the required dosages within a
                                desired timescale. Additionally, noting that chemotherapy patients should avoid
                                probiotics due to infection risks, we plan to develop a cell-free treatment as a future
                                iteration of our project. </p>
                        </div>
                         <div class="row margin-top">
                            <div class="col-md-5">
                                <img src="https://static.igem.wiki/teams/5178/ihp/quotes/dr-wadlow-quote1.png"
                                     class="img-fluid">
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                                <img src="https://static.igem.wiki/teams/5178/ihp/screenshot-2024-07-23-at-1-38-27-pm.png"
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <div class="dropshadow-box mt-5">
                <section id="ethics-expert">
                    <h2 class="mb-2 section-title">Ethics Expert</h2>
                    <div class="background-color-box" style="background-color: #e8b7b7">
                        <div class="row justify-content-center">
                            <div class="col-md-4 text-center">

                                <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                    <img src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/dr-barnes-picture.jpeg"
                                         alt="Headshot of Dr. Elizabeth Barnes ">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row"><h3 class="mt-2" style="color: #8B555E; text-align: center">Elizabeth
                                    Barnes, PhD</h3></div>
                                <div class="row">
                                    <p>Dr. Barnes is a professor and director of diversity, equity, and inclusion at the
                                        University of Virginia with a PhD in philosophy. She teaches philosophy of
                                        health and healthcare, current issues in healthcare ethics, and health and
                                        well-being courses at UVA. She also works on metaphysics, social philosophy, and
                                        feminist philosophy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7 d-flex flex-column justify-content-center">
                                <blockquote class="blockquote text-center">
                                    <h4><i>"This is an impactful quote from the interview."</i></h4>
                                </blockquote>
                                <blockquote class="blockquote text-center">
                                    <h4><i>"This is another impactful quote from the interview if needed."</i></h4>
                                </blockquote>
                            </div>
                            <div class="col-md-5 d-flex align-items-center">
                                <img src="https://media.istockphoto.com/id/1075374570/vector/coming-soon.jpg?s=612x612&w=0&k=20&c=6W1rSRAoJnxtMSi98mGD7LjiXA3xQMotLn8hJnmXjzI="
                                     class="img-fluid" alt="Interview Clip">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <p>Above is a video clip of the interview. Our key takeaways were that Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.</p>
                        </div>
                    </div>
                </section>
            </div>

            <div class="dropshadow-box mt-5">
                <section id="homeschooling-expert">
                    <h2 class="mb-2 section-title">Homeschooling Expert</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-4 text-center">

                            <div class="expert-picture mx-auto d-flex justify-content-center align-items-center">
                                <img style="object-position: center 0.2%;"
                                     src="https://static.igem.wiki/teams/5178/ihp/ihp-headshots/eleanornicholson.png"
                                     alt="Expert Picture">
                            </div>
                            <h3 class="mt-2" style="color: #8B555E">Eleanor Nicholson</h3>
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <p>Firstname Lastname is an expert in Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. We talked to
                                them because Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 d-flex flex-column justify-content-center">
                            <blockquote class="blockquote text-center">
                                <h4><i>"This is an impactful quote from the interview."</i></h4>
                            </blockquote>
                            <blockquote class="blockquote text-center">
                                <h4><i>"This is another impactful quote from the interview if needed."</i></h4>
                            </blockquote>
                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <img src="https://media.istockphoto.com/id/1075374570/vector/coming-soon.jpg?s=612x612&w=0&k=20&c=6W1rSRAoJnxtMSi98mGD7LjiXA3xQMotLn8hJnmXjzI="
                                 class="img-fluid" alt="Interview Clip">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <p>Above is a video clip of the interview. Our key takeaways were that Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                            in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>


</body>
</html>

{% endblock %}
