{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Click on each week to see what we did!{% endblock %}

{% block page_content %}
<style>
  .accordion-header-style {
  background-color: #F0DFAD;
  color: #2D4E62; /* Text color */
    border: 1px solid #D88993;

}
  .accordion-item-style {
    max-width: 500px; /* Darker border color */
}
</style>
<!--<div class="row mt-4">-->
<!--  <div class="col-lg-8">-->
<!--    <h2>What should this page contain?</h2>-->
<!--    <hr>-->
<!--    <ul>-->
<!--      <li>Chronological notes of what your team is doing.</li>-->
<!--      <li>Brief descriptions of daily important events.</li>-->
<!--      <li>Pictures of your progress.</li>-->
<!--      <li>Mention who participated in what task.</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="col-lg-4">-->
<!--    <h2>Inspirations</h2>-->
<!--    <hr>-->
<!--    <ul> -->
<!--      <li><a href="http://2018.igem.org/Team:Munich/Notebook">2018 Munich</a></li>-->
<!--      <li><a href="https://2019.igem.org/Team:Georgia_State/Notebook">2019 Georgia State</a></li>-->
<!--      <li><a href="https://2019.igem.org/Team:Newcastle/Notebook">2019 Newcastle</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:IISER-Pune-India/Notebook">2020 IISER Pune India</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:Lund/Notebook">2020 Lund</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:NOVA_LxPortugal/Notebook">2020 NOVA LxPortugal</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:RDFZ-China/NoteBook">2020 RDFZ China</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="text-center mt-5 bold-text">-->
<!--  <h1 style="font-weight: 800">Notebook</h1>-->
<!--  Click on each week to see what we did!-->
<!--</div>-->

<h2 class="mt-4">May</h2>

<div class="accordion" id="Notebook" style="max-width: 800px">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Week 1 (5/29/24 - 5/31/24)
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <h5><b>Important Dates:</b></h5>
        <ul>
          <li><b>May 29:</b> First in-person meeting!</li>
        </ul>
        <h5><b>Other Activities:</b></h5>
        <ul>
          <li>Researched various project ideas</li>
          <li>Toured our lab spaces for the summer</li>
        </ul>
        <img src="static/picture.png" class="img-fluid mt-3" alt="Progress Image">
      </div>
    </div>
  </div>

  <h2 class="mt-4">June</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Week 2 (6/3/24-6/7/24)
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <h5><b>Important Dates:</b></h5>
        <ul>
          <li><b>June 3:</b> Decided on our project topic</li>
          <ul>
            <li>We decided to focus on [description]</li>
          </ul>
          <li><b>June 4-June 7:</b> Started biobricking our constructs</li>
        </ul>
        <h5><b>Other Activities:</b></h5>
        <ul>
          <li>Researched various project ideas</li>
          <li>Toured our lab spaces for the summer</li>
        </ul>
      </div>
    </div>
  </div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Week 3 (6/10/24-6/14/24)
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Week 4 (6/17/24-6/21/24)
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
