{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Click on each week to see what we did!{% endblock %}

{% block page_content %}
<style>
   .sticky {
    position: sticky;
    top: 90px;
  }
       html {
    scroll-behavior: smooth;
  }

  .section-nav li.active > a {
    color: #8B555E;
    font-weight: 500;
  }

  .section-nav {
    padding-left: 0;
    border-left: 1px solid #D88993;
  }

  .section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #D88993;
    transition: all 400ms ease-in-out;
  }

  .section-nav a:hover,
  .section-nav a:focus {
    color: #8B555E;
  }
  .accordion-header-style {
  background-color: #F0DFAD;
  color: #2D4E62; /* Text color */
    border: 1px solid #D88993;

}
/*  .accordion-item-style {*/
/*    max-width: 500px; !* Darker border color *!*/
/*}*/
  .dropshadow-box
{
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px rgba(234, 220, 220, 0.76);
}
    section {
    padding-top: 70px;
    margin-top: -70px;
    padding-bottom: 20px;
  }
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

.image-caption-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and caption horizontally */
    text-align: center; /* Center the caption text */
    background-color: #F0DFAD; /* Change this to your desired color */
    padding: 20px 30px; /* Increase padding to make the border larger on all sides */
    margin-top: 10px; /* Space between the image and the caption box */
    border-radius: 2%;
}
.caption-box
{
  display: flex;
   text-align: center;
}
</style>
<div class="container">
   <div class="row">
    <div class="col-md-2">
        <div class="sticky">

 <nav class="section-nav" style="border-left: 1px solid #efefef;">
      <ul style="list-style: none;
  margin-left: 0px;">
          <div class="margin-left: 1rem; margin-bottom: 1rem;">
        <li style="margin-bottom: 5px"><a href="#preparation">Preparation</a></li>
        <li style="margin-bottom: 5px"><a href="#june">June</a></li>
              <li style="margin-bottom: 5px"><a href="#july">July</a></li>
        <li style="margin-bottom: 5px"><a href="#august">August</a></li>
            <li style="margin-bottom: 5px"><a href="#september">September</a></li>
            <li style="margin-bottom: 5px"><a href="#october">October</a></li>
        </div>
          </ul>
        </nav>
    </div>
        </div>
  <div class="col-md-10 dropshadow-box">
<div class="accordion" id="Notebook">
  <section id="preparation">
  <h2 class="mt-4 text-center">Preparation</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        11/27/23 - 5/31/24
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#Notebook">
      <div class="accordion-body row">
        <div class="col-md-6">
        <ul>
          <li><b>November 27, 2023:</b>
            <ul>
            <li>Applications for iGEM 2024 due</li>
              </ul>
          </li>
          <li><b>December 3-8, 2023:</b>
            <ul>
              <li>
                Interviews for iGEM
              </li>
            </ul>
          </li>
          <li><b>December 13, 2023:  </b>
            <ul>
              <li>
                  iGEM acceptances sent
              </li>
            </ul>
          </li>
          <li><b>January 18, 2024:</b>
          <ul>
            <li>
              First time meeting everyone!
            </li>
            <li>
              First day of Synthetic Biology class (BIOL 4770)
            </li>
          </ul>
          </li>
          <li><b>April 11, 2024:</b>
            <ul>
              <li>
                  Group chat formed!
              </li>
            </ul>
          </li>
          <li><b>April 26, 2024:</b>
            <ul>
              <li>
                  Team voted on leadership positions
              </li>
            </ul>
          </li>
          <li><b>April 29, 2024:</b>
            <ul>
              <li>
                First official team meeting online
              </li>
              <li>
                Discussed summer schedule
              </li>
            </ul>
          </li>
          <li><b>May 8, 2024:</b>
            <ul>
              <li>
                Met online to discuss project ideas
              </li>
              <li>Read through proposals from class </li>
            </ul>
          </li>
          <li><b>May 10, 2024:</b>
            <ul>
              <li>
                  Established OneDrive
              </li>
            </ul>
          </li>
          <li><b>May 15, 2024:</b>
            <ul>
              <li>
                  Discussed feedback on existing project proposals
              </li>
            </ul>
          </li>
          <li><b>May 24, 2024:</b>
            <ul>
              <li>
                  Brainstormed new project ideas
              </li>
            </ul>
          </li><b>May 30, 2024: </b>
          <li>
            <ul>
              <li>
                  First in-person meeting in lab
              </li>
            </ul>
          </li>
          <li><b>May 31, 2024:</b>
            <ul>
              <li>
                  Finalized project idea
              </li>
            </ul>
          </li>
        </ul>
          </div>
       <div class="col-md-6">
    <div class="image-caption-wrapper">
        <img src="static/picture.png" max-width="380px" class="img-fluid">
            <h5 style="padding-top: 20px"><i>Brainstorming our project</i></h5>

    </div>
</div>
      </div>
    </div>
  </div>
</section>

  <section id="june">
  <h2 class="mt-4 text-center">June</h2>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Week 1 (6/3/24-6/7/24)
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <h5><b>Important Dates:</b></h5>
        <ul>
          <li><b>June 3:</b> Decided on our project topic</li>
          <ul>
            <li>We decided to focus on [description]</li>
          </ul>
          <li><b>June 4-June 7:</b> Started biobricking our constructs</li>
        </ul>
        <h5><b>Other Activities:</b></h5>
        <ul>
          <li>Researched various project ideas</li>
          <li>Toured our lab spaces for the summer</li>
        </ul>
      </div>
    </div>
  </div>
    </section>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Week 2 (6/10/24-6/14/24)
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Week 3 (6/17/24-6/21/24)
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Week 4 (6/24/24-6/28/24)
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
    <section id="july">
    <h2 class="mt-4 text-center">July</h2>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Week 5 (7/1/24-7/5/24)
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
<br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Week 6 (7/8/24-7/12/24)
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
      <br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        Week 7 (7/15/24-7/19/24)
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
      <br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        Week 8 (7/22/24-7/26/24)
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
      <br>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        Week 9 (7/29/24-8/2/24)
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
    </section>
  <section id="august">
  <h2 class="mt-4 text-center">August</h2>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed accordion-header-style" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Week 11 (8/5/24-8/9/24)
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#Notebook">
      <div class="accordion-body">
        <p><strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.</p>
      </div>
    </div>
  </div>
     </section>
</div>

</div>

</div>
</div>
{% endblock %}
