{% extends "layout.html" %}
  
{% block title %}Safety{% endblock %}
{% block lead %}Describe all the safety issues of your project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Safety and Security Award</h4>
      <p>Synthetic biology will need to be used safely and securely if local people are to solve local problems all around the world. The Safety and Security Committee is challenging teams to apply biological engineering approaches to manage risks associated with synthetic biology. Can you take the next step in incremental progress towards knowledge, understanding, and tools that will make the use of synthetic biology safer and more secure?</p>
      <p>To compete for the Safety and Security award, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2024 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>What should this page contain?</h2>
    <hr>
    <p>On this page of your wiki, you should write about how you are addressing any safety issues in your project. The wiki is a place where you can go beyond the questions on the safety forms, and write about whatever safety topics are most interesting in your project. (You do not need to copy your safety forms onto this wiki page.)</p>
    <div class="bd-callout bd-callout-info">
      <p>Please visit the <a href="https://responsibility.igem.org/safety-policies/introduction">Safety Policies page</a> to find this year's safety requirements & deadlines, and to learn about safe & responsible research in iGEM.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Safe Project Design</h2>
    <hr>
    <p>Does your project include any safety features? Have you made certain decisions about the design to reduce risks? Write about them here! For example:</p>
    <ul>
      <li>Choosing a non-pathogenic chassis</li>
      <li>Choosing parts that will not harm humans / animals / plants</li>
      <li>Substituting safer materials for dangerous materials in a proof-of-concept experiment</li>
      <li>Including an "induced lethality" or "kill-switch" device</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Safe Lab Work</h2>
    <hr>
    <p>What safety procedures do you use every day in the lab? Did you perform any unusual experiments, or face any unusual safety issues? Write about them here!</p>
  </div>
</div>

<style>
  #imageBox {
      width: 300px;
      height: 300px;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
  }

  #imageBox img {
      max-width: 100%;
      max-height: 100%;
  }

  .button-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .toggle-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 30%;
    width: 240px;
    height: auto;
    font-size: 28px;
    background-color: #8B555E;
    color: #EDF0DA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    transition: transform 0.1s ease-in-out;
    transition: background-color 0.3s;
  }
  .toggle-button:not(.active):hover {
    color: #EDF0DA;
    background-color: #D88993;
    cursor: pointer;
  }

  .toggle-button.active {
    color: #EDF0DA;
    background-color: #1e7995ff;
    cursor: pointer;
  }
  
</style>
<body>
<div id="imageBox">
  <img id="mainImage" src="image1.jpg" alt="Image Option 1">
</div>
<div class="button-container">
  <div class="toggle-button" id="button1" onclick="toggleButton(1)">Xylose</div>
  <div class="toggle-button" id="button2" onclick="toggleButton(2)">37C</div>
</div>

<script>
  const mainImage = document.getElementById('mainImage');
  const button1 = document.getElementById('button1');
  const button2 = document.getElementById('button2');

  function toggleButton(buttonNumber) {
      if (buttonNumber === 1) {
          button1.classList.toggle('active');
      } else if (buttonNumber === 2) {
          button2.classList.toggle('active');
      }

      updateImage();
  }

  function updateImage() {
      const isButton1Active = button1.classList.contains('active');
      const isButton2Active = button2.classList.contains('active');

      if (isButton1Active && isButton2Active) {
          mainImage.src = 'https://static.igem.wiki/teams/5178/killswitch/1-with-both.webp';
      } else if (isButton1Active) {
          mainImage.src = 'https://static.igem.wiki/teams/5178/killswitch/3-only-xylose.webp';
      } else if (isButton2Active) {
          mainImage.src = 'https://static.igem.wiki/teams/5178/killswitch/2-only-heat.webp';
      } else {
          mainImage.src = 'https://static.igem.wiki/teams/5178/killswitch/4-none.webp';
      }
  }
</script>

{% endblock %}
