{% extends "layout.html" %}

{% block title %}Meet UVA iGEM 2024!{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}
  <style>
    .team-member {
      position: relative;
      width: 300px;
      height: 300px;
      margin: 15px;
      overflow: hidden;
      border-radius: 50%;
      transition: transform 0.3s;
    }
    .team-member img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      transition: opacity 0.3s;
    }
    .team-member .info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      opacity: 0;
      transition: opacity 0.3s;
      text-align: center;
      border-radius: 50%;
    }
    .team-member:hover {
      transform: scale(1.1);
    }
    .team-member:hover img {
      opacity: 0.3;
    }
    .team-member:hover .info {
      opacity: 1;
    }
    .team-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .dropshadow-box
{
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px rgba(234, 220, 220, 0.76);
}
          .section-title {
    text-align: center;
    margin-top: 3rem;
    text-decoration: underline;
    text-decoration-color: #D88993;
        text-underline-offset: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
          @keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
  </style>


<!--<div class="row">-->
<!--  <div class="col-8">-->
<!--    <h2>What should this page contain?</h2>-->
<!--    <hr>-->
<!--    <ul>-->
<!--      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>-->
<!--      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>-->
<!--      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>-->
<!--      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>-->
<!--    </ul>-->
<!--    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>-->
<!--  </div>-->
<!--  <div class="col-4">-->
<!--    <h2>Inspirations</h2>-->
<!--    <hr>-->
<!--    <ul>-->
<!--      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>-->
<!--      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>-->
<!--      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>-->
<!--      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<div class="container mt-5 dropshadow-box" style="text-align: center">
  <h2 class="section-title">Team Members</h2>
  <div class="team-container">
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/screenshot-2024-06-26-at-1-31-57-pm.png" alt="Team Member 1">
      <div class="info">
        <h4>Madhuri Sosale</h4>
        <h5>Team Lead</h5>
        <p><b>Year:</b> Second Year
        <br><b>Major:</b> Biomedical Engineering
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/matt.jpg" alt="Team Member 2">
      <div class="info">
        <h4>Matt Palermo</h4>
        <h5>Wiki Lead</h5>
        <p><b>Year:</b> Third Year
        <br><b>Major:</b> Chemistry
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/elizabeth.jpg" alt="Team Member 3">
      <div class="info">
        <h4>Elizabeth MacPhail</h4>
        <h5>Wet Lab Lead</h5>
        <p><b>Year:</b> Third Year
        <br><b>Major: Biochemistry </b> 
      </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/siena.png" alt="Team Member 4">
      <div class="info">
        <h4>Siena Rodeschin</h4>
        <h5>IHP Lead</h5>
        <p><b>Year:</b> Third Year
        <br><b>Major: Biomedical Engineering </b>
      </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/nithin.jpg" alt="Team Member 5">
      <div class="info">
        <h4>Nithin Avala</h4>
        <h5>Finance Lead</h5>
        <p><b>Year:</b> Second Year
        <br><b>Major: Chemistry </b>
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/kaylin.jpeg" alt="Team Member 6">
      <div class="info">
        <h4>Kaylin Shukert</h4>
        <h5>Modeling Co-Lead</h5>
        <p><b>Year:</b> Third Year
        <br><b>Major: Biochemistry </b>
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/michael.png" alt="Team Member 7">
      <div class="info">
        <h4>Michael Mao</h4>
        <h5>Modeling Co-Lead</h5>
        <p><b>Year:</b> Fourth Year
        <br><b>Major: Biology & Computer Science </b>
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/stephanie.jpg" alt="Team Member 8">
      <div class="info">
        <h4>Stephanie Zhang</h4>
        <h5>Team Member</h5>
        <p><b>Year:</b> Fourth Year
        <br><b>Major: Biology and Cognitive Science </b>
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://static.igem.wiki/teams/5178/hannah.png" alt="Team Member 9">
      <div class="info">
        <h4>Hannah Shen</h4>
        <h5>Team Member</h5>
        <p><b>Year:</b> Third Year
        <br><b>Major: Biomedical Engineering </b>
        </p>
      </div>
    </div>
  </div>
  <p> <h2 class="section-title">Mentors and Advisors</h2></p>
  <div class="team-container">
    <div class="team-member">
      <img src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2240,c_limit/phonepicutres-TA.jpg" alt="Team Member 1">
      <div class="info">
        <h4>Dr. Keith Kozminski</h4>
        <p><b>UVA Department of Biology</b>
          <br><b>Why iGEM:</b>
          <br><b>Fun Fact: </b>
        </p>
      </div>
    </div>
   <div class="team-member">
      <img src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2240,c_limit/phonepicutres-TA.jpg" alt="Team Member 1">
      <div class="info">
        <h4>Ms. Jackie Parker</h4>
        <p><b>UVA Department of Biology</b>
          <br><b>Why iGEM:</b>
          <br><b>Fun Fact: </b>
        </p>
      </div>
    </div>
    <div class="team-member">
      <img src="https://media.wired.com/photos/598e35994ab8482c0d6946e0/master/w_2240,c_limit/phonepicutres-TA.jpg" alt="Team Member 1">
      <div class="info">
        <h4>Ms. Kay Christopher</h4>
        <p><b>UVA Department of Biology</b>
          <br><b>Why iGEM:</b>
          <br><b>Fun Fact: </b>
        </p>
      </div>
    </div>
    </div>
</div>
{% endblock %}

