body { padding-top: 0px; font-family: 'Poppins', sans-serif;}
.left-aligned { margin-left: 0px; }
.bg-offwhite { background-color: #FFFFFD; }
.bg-beige { background-color: #EDF0DA; }
.bg-yellow { background-color: #F0DFAD; }
.bg-lightpink { background-color: #D88993; }
.bg-darkpink { background-color: #8B555E; }
.bg-brown { background-color: #493B2A; }
.bg-darkblue { background-color: #2D4E62; }
.bold-text { font-weight: bold;
}
/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }
  .sticky {
    position: sticky;
    top: 90px;
  }

  html {
    scroll-behavior: smooth;
  }

  .section-nav li.active > a {
    color: #8B555E;
    font-weight: 500;
  }

  .section-nav {
    padding-left: 0;
    border-left: 1px solid #D88993;
  }

  .section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #D88993;
    transition: all 400ms ease-in-out;
  }

  .section-nav a:hover,
  .section-nav a:focus {
    color: #8B555E;
  }

  section {
    padding-top: 90px;
    margin-top: -90px;
    padding-bottom: 20px;
  }
    .section-title {
    text-align: center;
    margin-top: 3rem;
    color: #4A4A4A;
    border-bottom: 2px solid #D88993;
    padding-bottom: 10px;
      width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
